<% @title = "My clients" if @user.role == "employee"  
   @title = "My personnel" if @user.role == "client"
%>
<div class="caption"><%= @title%></div>
<div class="span6">
<br/>
<table class='user-list'> 

	  <% @list.each do |user| %>
	    <tr>
	      <td>
	        <%= link_to gravatar_for(user), user_path(user) %>
	        <%= link_to "#{user.name} #{user.lastname}", user_path(user) %>
        </td>
	      <% if @user.role == "employee"  %>
	        <td>
	          <% unless @user.confirm_client? user.id%>
	            <span class="confirm-client"><%= link_to "confirm", controller: 'relationships', action: 'confirm_client', id: user.id %></span>
	          <% end %>      
	        </td>
	        <td>
	          <% if @user.confirm_client? user.id %>  
	            <span class="block-client"><%= link_to "block", controller: 'relationships', action: 'block_client', id: user.id %></span>    
	          <% end %>
	        </td>
	      <% end %>  
	    </tr>
	  <% end %>
</table>
<%= will_paginate @list, class: 'digg_pagination' %>