<script>
	$(document).ready(function() {
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		var calendar = $('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			theme: true,
			user_id: <%= @user.id%>,
      <% if user_signed_in? %>
			  signin_user: true,
			  auth_token: '<%= form_authenticity_token %>',
			  form_url: '<%= new_user_booking_path(@user) %>',
			<% end %>
			events: [
        <% @books.each do |book| %>
          {
            id: <%= book[:id] %>,
            title: "<%= event_title(User.find book[:client_id]) %>",
            start:new Date("<%= rb_to_js(book[:from]) %>"),
            end: new Date("<%= rb_to_js(book[:to]) %>"), 
            <% if user_signed_in? && current_user.id == book[:client_id] %>
              url: "<%= edit_user_booking_path(@user,book) %>", 
            <% end %>
            allDay: false,
            color: '#2779AA' 
          },
        <% end %>	
			],
			timeFormat: {
				'': 'H:mm{ - H:mm}'
			}
		});
		
	});
</script>
<% @title = "Booking #{@user.name} #{@user.lastname}" %>
<% unless user_signed_in? %>
 <div class="success alert alert-notice">You need to sign in or sign up before booking.</div>
<% end %>
<div class="calendar-caption"><%= "#{@user.name} #{@user.lastname}" %></div>
<div id='calendar'></div>