<% @title = "Sign up" %>
<div class="span4">
  <div class="caption"><%= @title %></div>
  <%= form_for(@user) do |f| %>
    
    <%= render 'shared/error_messages', obj: f.object %>
    
    <%= render 'fields', f: f %>

    <%= f.submit "Create my account", class: "btn btn-large btn-primary" %> 
  <% end %> 
</div>